*.zip
videos/
.DS_Store
__pycache__/
F_MNIST_data/
raw/
pdfs/
.python-version
.vscode/
gif/

*.pth
*.pt

# datasets
animals/
Udacity_AZDIAS_Subset.csv
Udacity_CUSTOMERS_Subset.csv
landmark_images/
flower_photos/
